/* Created by: Katie
* Created on: June 2022
* This CSS file defines the style for chemical-equations.html
*/

h1 {
  background-color: #006BBC;
  color: #FF858A;
  border: 5px double #404CBA;
  border-radius: 15px;
}

body {
  background-color: #E2A77D;
}

img {
  border: 5px double #404CBA;
  border-radius: 15px;
}