/* Created by: Katie
* Created on: June 2022
* This CSS file defines the style for index.html
*/

h1 {
  background-color: rgb(167, 134, 91);
  color: rgb(254, 233, 201);
  border: 5px double #965E2F;
  border-radius: 15px;
}

body {
  background-color: #F1E8D9;
}

img {
  border: 5px double rgb(167, 134, 91);
  border-radius: 15px;
}

#summary-text {
  color: rgb(86, 126, 55);
  padding: 5px;
}

#still-looking {
  color: rgb(86, 126, 55);
  padding: 5px;
}

button {
  background-color: rgb(167, 134, 91);
  color: rgb(254, 233, 201);
}