/* Created by: Katie
* Created on: June 2022
* This CSS file defines the style for index.html
*/

h1 {
background-color: ;
color: ;
border: ;
border-radius: ;
}

body {
background-color: ;
}

p {
background-color: ;
color: ;
padding: ;
}

img {
border: ;
border-radius: ;
}

#NAMEOFDIVELEMENT {
background-color: ;
color: ;
padding: ;
}